.HomePage {
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  margin-top: 20vh;
  padding-bottom: 2%;

  .Carousel {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    border-bottom: 1px solid rgb(220, 220, 200);
    border-top: 1px solid rgb(220, 220, 200);

    .carousel-title {
      padding-left: 1%;
      padding-bottom: 0.5%;
      margin-top: 1%;
    }

    .button-container {
      position: relative;
      bottom: 50%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: max-content;
      height: 13%;
      width: inherit;
    }

    button {
      opacity: 0.75;
      color: rgb(169, 169, 169);
      background-color: rgb(255, 255, 255);
      z-index: 10;
      border: none;
      height: 100%;
      display: flex;
      align-items: center;
      transition: all 0.5s ease-out;

      &:hover {
        opacity: 1;
        cursor: pointer;
        border: 1px solid rgb(169, 169, 169);
        transition: all 0.5s ease-out;
      }

      &.disabled {
        visibility: hidden;
      }
    }

    .carousel-container {
      position: relative;
      display: flex;
      column-gap: 0.75%;
      overflow: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      width: inherit;

      .CarouselItem {
        min-width: 170px;
        scroll-snap-align: center;
        z-index: 0;

        .image-container {
          height: 250px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 85%;
            max-height: 100%;
          }
        }

        .info-container {
          text-decoration: none;
          color: rgb(0, 0, 0);

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding-left: 15px;

          .price {
            font-weight: bolder;
            font-size: 20px;
          }

          .title {
            font-size: 15px;
            padding: 0%;
          }
        }
      }
    }
  }
}
